
<div class = "dater-tab-container">
    <ul class="nav nav-tabs">
    <li class="nav-item">
     <%= link_to 'Dater', dashboard_path(current_user, tab:'dater'), class:'nav-link'%>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Backers Here</a>
    </li>
    </ul>
</div>

<div class="card">
<h5 class="card-title">Your Daters</h5>
    <div class="card-body dater-tab-body">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Find a mate for them</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>

    </tbody>
  </table>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <h6>Find a dater</h6>
    </div>
    <%= render 'add_dater'%>

</div>
