
<div class = "dater-tab-container">
    <ul class="nav nav-tabs">
    <li class="nav-item">
     <%= link_to 'Dater', dashboard_path(current_user, tab:'dater'), class:'nav-link'%>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Backer</a>
    </li>
    </ul>
</div>

<div class="card">
    <div class="card-body">
    <h5 class="card-title">Backer</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a class="primary-btn" id="card-button">Go somewhere</a>
    </div> 
</div>  
