<div class ='dater-tab-container'>
    <%= link_to 'Dater',dashboard_path(current_user, tab:'dater'), id: "tab2",class:'dater-tab' %>
    <%= link_to 'Backer',dashboard_path(current_user, tab:'backer'), id:"tab1",class:'dater-tab' %>
</div>
<div class= "dash-body-tab-backer">
backer
</div>