
<div class = 'dater-tab-container'>
  <ul class="pagination  ">
    <li class="page-item ">
    <%= link_to 'Backers', dashboard_path(current_user,tab:'backer'),class:'page-link', id:'backer-tab-not-active'%>
    </li>
      <a class="page-link backer-table-striped" id='dater-tab-active' >Daters</a>
    <li class="page-item"></li>
  </ul>
</div>
<div class="card-body dater-tab-body">
  <div class = 'dater-tab-header col-md-8'>
    <h4>Welcome to the dater area! Here you can check out your pool and manage your backers</h4>
  </div>
  <table class="table table-striped">
    <h5 id="dater-table-header">Your backers</h5>
    <thead>
      <tr class= 'dater-table-striped'>
        <td>Backer</td>
        <td >Message</td>
      </tr>
    </thead>
    <tbody>
    <% current_dater.backers.each do |backer|%>
      <tr>
        <td><%= backer.f_name %></td>
        <td><%=link_to 'Message', new_conversation_path(recipient: @user), class:"primary-btn btn-md" %></td>
      </tr>
    <% end %>     
    </tbody>
  </table>
  <div class = 'dater-tab-buttons'>
      <a class ="primary-btn card-button" id="pool-button"> Your pool</a>
  </div>
  <%= render 'pool'%>
</div>  
