<!-- LIST OF BACKERS FOR CURRENT DATER -->
<div class="list-backers" >
  <h6>Your Backers</h6>
  <ul >
    <% current_dater.backers.each do |backer| %>
    <li class="backer-name"><p><%= link_to "#{backer.f_name} #{backer.l_name}", backer_path(backer) %></p>
      <%end  %>
    </ul>
    <br>

  <div class="list-and-add-backers" >
    <h6> Add a Backer<h6>
    <br >
    <%= render 'add_backer'%>
  </div>
</div>
