<!-- LIST OF BACKERS FOR CURRENT DATER -->
<div class="list-and-add-backers" >
  <h6>Your Backers</h6>
  <ul >
    <% current_dater.backers.each do |backer| %>
    <li class="backer-name"><p><%= "#{backer.f_name} #{backer.l_name}" %></p>
      <%end  %>
    </ul>
    <br>
    <h6> Add a Backer<h6>
    <br >
    <%= render 'add_backer'%>
</div>
