<div class="match-preferences" >
<table class="table table-striped" id='traits-table'>
<thead>
  <tr>
    <th scope="col">Trait</th>
    <th scope="col">Preference</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Smoker</td>
    <td></td>
  </tr>
  <tr>
  <td>Smoker</td>
  <td></td>
</tr>
</tbody>
</table>
</div>