


<%= render 'dashboard/dash_side'%>

  <div class ='col-md-offset-2 col-md-10'>
        <div class="row"  >
        <div class="col-md-offset-2 col-md-8 card " id='message-list-container' >
          <h4>Your Conversations</h4>
          <table class="table" id= 'message-list' >
              <tr>
                <th >User</th>
                <th >Subject</th>
                <th >Date</th>
              </tr>
            <% @conversations.each do |conversation| %>
              <tr >
                <td> <%= User.find( conversation.receipts.where.not(receiver_id:current_user.id).first.receiver_id).f_name %></td>
                <td> <%= link_to conversation.subject, conversation_path(conversation) %></td>
                <td> <%= conversation.updated_at.strftime('%m-%d-%y') %></td>
              </tr>
            <% end %>
          </table>  
        </div>
      </div>
  </div>
</div>









  