<div class = 'answer1-table col-md-12 collapse' id= "answer1Collapse">
    <table class = 'table table-striped '>
        <thead>
            <tr>
                <th scope="col">Commenter</th>
                <th scope="col">Comment</th>        
            </tr>
        </thead>
        <tbody>
            <% @dater.comments.where(question_id:1).each do  |comment|%>
            <tr>
                <td><%= Backer.find(comment.backer_id).f_name%></td>
                <td><%= comment.comment %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>