

<div class = 'dashboard-container'>
    <div class="card col-md-2 dash-side " id='profile-side' >
        <%= image_tag('blackwhite.jpg', id:'dash-dater-img')%>
        <h4>Joe</h4>
        <h4>Jones</h4>
        <p >With supporting text below as a natural lead-in to additional content.</p>
    </div>

    <div class ='col-md-offset-1 col-md-10'>
        <div class="card profile-card">
            <div class="card-header">
                About
            </div>
            <div class="card-body">
                <h5 class="card-title">I'm just a good guy</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card profile-card">
            <div class="card-header">
                What Joe's backers say about them
            </div>
            <div class="card-body">
                <h5 class="card-title">He's good guy</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <%= link_to 'Send Message', new_conversation_path(recipient: User.third), class:"primary-btn btn-md" %>
     </div>
     
</div>

