    <section>
      <div class="overlay bg-landing-light-teal banner-area col-md-12" >
      <div id = 'hero-text'>
        <div class = 'pyt-title col-md-7'  >
          <h1 class="text-navy">Petition Your Tribe </h1>
          <h4 class="text-accent slogan text-center">Because sometimes it takes a village. <br></h4>
        </div>
        </div>
      <div class = 'pyt-signup-outer'>
        <div class = 'pyt-signup col-md-5'>
          <br>
          <button id="home-button" class="primary-btn btn-sm login-button"><span ><%= link_to "Sign Up", "/auth/google_oauth2?tab=backer"  %></span></button> <br>
          <h4 class="text-navy text-center ">Find love<br>for your Friends & Family</h4>
        </div>
        <div class = 'pyt-signup col-md-5'>
            <button id="home-button" class="primary-btn btn-sm login-button"><span ><%= link_to "Sign Up", "/auth/google_oauth2?tab=dater"  %></span></button> <br>
          <h4 class="text-navy text-center ">Find love<br>for yourself</h4>
        </div>
      </div>
    </div>

    <div class="container">
      <div class=" fullscreen align-items-center justify-content-center">
      </div>
    </div>
  </div>
    <section class="carousel-area section-gap relative">
      <div class="overlay overlay-bg"></div>
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-6 col-md-9 relative ">
              <h4 class="text-white">Petition your Tribe</h4>
              <h4 class="text-white">Promote your Tribe</h4>
              <h4 class="text-white">Protect your Tribe</h4>
          </div>
        </div>
     </div>
    </section>

    <section class="section-gap contact-area">
      <div class="container">
          <div class="col-lg-6 ml-auto col-md-7">
            <h4 class="text-navy">Petition your Tribe</h4>
            <h4 class="text-navy">Promote your Tribe</h4>
            <h4 class="text-navy">Protect your Tribe</h4>
        </div>
      </div>
    </section>
