    <section class="banner col-md-12">
      <div class="overlay overlay-bg" >
      <div id = 'hero-text'>
        <div class = 'pyt-title col-md-7'  >
          <h1>Meddle </h1>
          <h4 class="text-white slogan"> in your framily's love life <br></h4>
        </div>
        <div class = 'pyt-signup col-md-5'>       
          <%= button_to "Sign Up", "/auth/google_oauth2?tab=backer", class: 'primary-btn  col-md-5 login-button', id:'home-button'  %><br>
          <p class="text-white">Find love for your loved ones</p>
        </div>
        </div>
      </div>
      <div class=" fullscreen align-items-center justify-content-center">
        </div>
      </div>
      </section>

