    <section class="banner-area col-md-12">
      <div class="overlay overlay-bg" >
      <div id = 'hero-text'>
        <div class = 'pyt-title col-md-7'  >
          <h1>Petition Your Tribe </h1>
          <h4 class="text-white slogan">Meddle in your framily's love life <br></h4>
        </div>
        <div class = 'pyt-signup col-md-5'>       
        <%= button_to "Sign Up", "/auth/google_oauth2?tab=backer", class: 'primary-btn  col-md-5 login-button', id:'home-button'  %><br>
          <p class="text-white">Find love for your loved ones</p>
            <button id="home-button" class="primary-btn btn-sm col-md-5   login-button"><span ><%= link_to "Sign Up", "/auth/google_oauth2?tab=dater"  %></span></button> <br>
          <p class="text-white">Find love for yourself</p>
        </div>
        </div>
      </div>
      <div class="container">
      <div class=" fullscreen align-items-center justify-content-center">
        </div>
        </div>
      </div>
    <section class="carousel-area section-gap relative">
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-lg-6 col-md-9 relative">
            <h4>Promote your Tribe</h4>
        </div>
      </div>
    </section>
    <!-- Start Projects Area -->
    <!-- Start Contact Area -->
    <section class="section-gap contact-area">
      <div class="container">
          <div class="col-lg-6 ml-auto col-md-7">
            <form id="myForm" action="mail.php" method="post" class="contact-form text-right">
              <input type="text" name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-10" required>
              <input type="email" name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-10" required>
              <textarea class="common-textarea mt-10" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required></textarea>
              <button class="primary-btn white-bg d-inline-flex align-items-center mt-10 ml-auto"><span class="mr-10">Send Message</span><span class="lnr lnr-arrow-right"></span></button> <br>
              <div class="alert-msg"></div>
            </form>
        </div>
      </div>
    </section>
